:root {
    .rct-tree-root {
        --rct-arrow-size: 20px;
        --rct-arrow-container-size: 30px;
        --rct-arrow-padding: 10px;
        --rct-bar-offset: 0px;
        --rct-item-height: 38px;
    }

    .rct-tree-item-li {
        font-size: 20px;
    }

    .rct-tree-item-button {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        border: 2px solid hsl(var(--nextui-default-200) / var(--nextui-default-200-opacity, var(--tw-border-opacity)));
        border-bottom: none;
        border-radius: 0;
    }

    .rct-tree-item-button-focused {
        outline-offset: -2px;
    }

    .rct-tree-item-button.rct-tree-item-button-expanded,
    div[role="tree"]>ul.rct-tree-items-container>.rct-tree-item-li:last-of-type>.rct-tree-item-title-container>.rct-tree-item-button:not(.rct-tree-item-button-expanded),
    div[role="tree"]>ul.rct-tree-items-container>.rct-tree-item-li:last-of-type .rct-tree-item-li:last-of-type>.rct-tree-item-title-container>.rct-tree-item-button:not(.rct-tree-item-button-expanded) {
        border-bottom: 2px solid hsl(var(--nextui-default-200) / var(--nextui-default-200-opacity, var(--tw-border-opacity)));
    }

    .rct-tree-item-li-isFolder>ul.rct-tree-items-container>li.rct-tree-item-li:first-of-type>.rct-tree-item-title-container>.rct-tree-item-button {
        border-top: none;
    }
}
