@import "tailwindcss";
@import 'react-complex-tree/lib/style-modern.css';
@import '../common/styles/react-complex-tree-custom-styles.css';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme inline {
    --font-serif: var(--font-noto-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@theme {
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 90rem;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/*
    based on https://stackoverflow.com/questions/66166047/how-to-make-thin-scrollbar-in-chrome/66166118
    only apply for not touch devices as touch devices usually have their own thin scrollbar
*/

@media(pointer: fine) {
    section[role="dialog"] ::-webkit-scrollbar {
        width: 9px;
    }
    
    section[role="dialog"] ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    section[role="dialog"] ::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 14px;
        border: transparent;
    }
}
