@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-complex-tree/lib/style-modern.css';
@import '@/common/styles/react-complex-tree-custom-styles.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/*
    based on https://stackoverflow.com/questions/66166047/how-to-make-thin-scrollbar-in-chrome/66166118
    only apply for not touch devices as touch devices usually have their own thin scrollbar
*/

@media(pointer: fine) {
    section[role="dialog"] ::-webkit-scrollbar {
        width: 9px;
    }
    
    section[role="dialog"] ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    section[role="dialog"] ::-webkit-scrollbar-thumb {
        background-color: rgba(155, 155, 155, 0.5);
        border-radius: 14px;
        border: transparent;
    }
}
